# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

pihk_plugin_import.cpp
pihk_resource.rc
pihk2.aux
pihk2.fdb_latexmk
pihk2.fls
pihk2.log
pihk2.synctex.gz
pihk2.toc
*.aux
*.fdb_latexmk
*.fls
*.log
pihk3.synctex.gz
pihk3.toc
